<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserDao">
    <resultMap id="UserMapper" type="pojo.UserPO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <result property="phone_number" column="phoneNumber" />
        <result property="address" column="address" />
        <result property="email" column="email" />
        <result property="create_time" column="createTime" />
        <result property="update_time" column="updateTime" />
    </resultMap>

    <!--查询用户信息列表-->
    <select id="getUserList" resultMap="UserMapper">
        select * from u_user
    </select>
</mapper>